<p class="affiliates">
  sites we <3 -
  <a href="http://www.smwcentral.net/" style="margin-right: 15px; margin-left: 15px;">smw central</a>
  <a href="http://www.supermariobrosx.org/forums/">smbx community</a>
</p>

