<footer class="footer">
  <small>
    <!-- Copyright Notice -->
    &copy; 2014 talkhaus community
  </small>
  <nav>
    <ul>
      <!-- Footer navigation -->
      <li><a href="http://raocow.com/">raocow</a></li>
      <li><a href="http://talkhaus.raocow.com/">talkhaus</a></li>
      <li><a href="http://everything.raocow.com/">everything raocow</a></li>
    </ul>
  </nav>
</footer>
