<!-- Footer -->
<div id="footerwrapper">
  <div id="footer">
  
    <!-- No links in footer
    <div id="links">
      <a href="#">home</a>
      <a href="#">videos</a>
      <a href="#">talkhaus</a>
    </div>
    -->
    
    <div id="copyright">
      &copy; 2015 raocow inc
    </div>
    
    <div style="clear: both;"></div>
  </div>
</div>
