<!-- Footer -->
<div id="footerwrapper">
  <div id="footer">
  
    <div id="links">
      <a id="patreon" href="https://www.patreon.com/raocow">support me on patreon!!</a>
    </div>    

    <div id="copyright">
      &copy; 2015 raocow inc
    </div>
    
    <div style="clear: both;"></div>
  </div>
</div>
