<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Everything raocow", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
