<div id="headerwrapper">
  <div id="header">
  
    <div id="logo">
      <a href="http://raocow.com/">
        <img class="logo-image" src="<%= asset_path 'logo.png' %>">
      </a>
      <h1 style="display: none;">raocow.com</h1>
    </div>
 
    <div id="navbar">
      <nav class="header-nav">
        <span class="top">menu</span>
        <ul>
          <li><a href="<%= videos_url %>">videos</a></li>
          <li><a href="http://bhwb.comicdish.com/">comics</a></li>
          <li><a href="http://talkhaus.raocow.com/">talkhaus</a></li>
          <li><a href="http://fastfoward.tumblr.com/">tumblr</a></li>
          <li><a href="https://www.patreon.com/raocow">patreon</a></li>
        </ul>
      </nav>
    </div>
    
    <div id="search">
      <form name="videosearch" method="get" action="https://www.youtube.com/user/raocow/search">
        <input name="query" value="Search..."></input>
      </form>
    </div>
    
    <div style="clear: both;"></div>
  </div>
</div>

