<ul id="sitebar" role="navigation">
  <li><a href="http://www.raocow.com:3000/">raocow</a></li>
  <li><a href="http://talkhaus.raocow.com:3000/">talkhaus</a></li>
  <li><a href="http://everything.raocow.com:3000/">everything raocow</a></li>
</ul>

