<% provide(:title, "editing video #{@video.title}") %>

<div id="wrapper">

  <div class="center">

    <h1>editing video <%= @video.title %></h1>

    <br><br>

    <% Category.cat_types.each do |c_t| %>

        <%= render 'category_edit', categories: Category.where(cat_type: c_t[1]), video: @video %>

    <% end %>

    <br><br>

  </div>

</div>
