@media (min-width: 600px)
{
  /* Font */
  body
  {
    font-size: 100% !important;
  }

  /* Homepage video applet */
  #homevideo.videoapplet
  {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px !important;
  }

  .nav ul
  {
    border: none !important;

    /* Remove default width so it automatically resizes with contents */
    width: auto !important;
    
    /* No drop shadow */
    box-shadow: none !important;
  }

  .nav ul,
  .nav ul li
  {
    /* Make navbar expand when page is resized */
    display: inline-block !important;
  }

  .nav ul
  {
    background-color: transparent !important;
  }

  .nav ul li:hover a
  {
    background-color: transparent !important;
  }

  .nav span.top
  {
    /* Hide "Menu" element when menu is laid out flat */
    display: none !important;
  }

  /* Layout */
  .video-list  .item  .thumbnail
  {
    float: none !important;
    width: 100% !important;
  }

  .video-list  .item  .info
  {
    float: none !important;
    width: 90% !important;
  }

  .video-list .item
  {
    margin: 1% !important;
    width: 48%;
    float: left;
  }

  .video-list .item .info .video-name
  {

  }

  .video-list .item .info .video-views
  {
    text-align: right;
    padding-top: 1em;
  }
}
