@media (min-width: 600px)
{
  /* Header */
  /* Navigation links */
  .header-nav a
  {
    color: #FFF;
    text-decoration: none;
    font-size: 125%;
  }

  .header-nav a:hover
  {
    color: #fb6716;
    text-decoration: none;
  }

  .header-nav a:active
  {
    color: #a73;
    text-decoration: none;
  }

  /* Video applet */
  /* Show home page video applet on wider screens */
  #videowrapper
  {
    background: #414141 url('/assets/video-back.png') repeat-x;
    border-top: solid 1px #2b2b2b;
  }
}
