<li>
  <img class="channel-img" src="https://i.ytimg.com/i/<%= channel.user_id %>/1.jpg">
  <%= link_to channel.name, channel_url(channel) %>

  <% if user_signed_in? && current_user.admin? %>

    | <%= link_to 'edit', edit_channel_path(channel) %>

    | <%= link_to 'delete', channel_path(channel), method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
</li>
