<% provide(:title, "All channels") %>

<h1>All channels</h1>

<% if user_signed_in? && current_user.admin? %>

  <%= link_to 'Add channel', new_channel_path %>

<% end %>

<br><br>

<%= render 'shared/list_of_links', objects: @channels, options: { info: [:name], thumbnails: true } %>
