<% provide(:title, "All channels") %>

<h1>All channels</h1>

<%= link_to 'Add channel', new_channel_path %>

<br><br>

<ul class="list_of_links">
  <%= render @channels %>
</ul>

<%= will_paginate @channels %>
