<% provide(:title, "All channels") %>

<h1>All channels</h1>

<%= link_to 'Add channel', new_channel_path %>

<br><br>

<%= render 'shared/list_of_links', objects: @channels, options: { info: [:name], thumbnails: true } %>
