<% provide(:title, "all channels") %>

<div id="wrapper">

  <div class="page-head">

    <h1>all channels</h1>

    <% if user_signed_in? && current_user.admin? %>

      <%= link_to 'add channel', new_channel_path %>

    <% end %>

  </div>

  <br><br>

  <%= render 'shared/list_of_links', objects: @channels, options: { info: [:name], thumbnails: true } %>

</div>
