<% provide(:title, "All channels") %>

<h1><%= @channel.name %>'s videos</h1>

<%= link_to 'Random video', videos_random_channel_path(@channel) %>

<% if user_signed_in? && current_user.admin? %>

  | <%= link_to 'Edit channel', edit_channel_path(@channel) %>

<% end %>

<%= render 'shared/videos' %>
