<% provide(:title, "all channels") %>

<div id="wrapper">

  <div class="page-head">

    <h1><%= @channel.name %>'s videos</h1>

    <%= link_to 'random video', videos_random_channel_path(@channel) %>

    <% if user_signed_in? && current_user.admin? %>

      | <%= link_to 'edit channel', edit_channel_path(@channel) %>

    <% end %>

  </div>

  <%= render 'shared/videos' %>

</div>
