<li>
  <%= link_to category.name, category_url(category) %>

  <% if user_signed_in? %>
    | <%= link_to "edit", edit_category_path(category) %>

    <% if current_user.admin? %>
      | <%= link_to "delete", category_url(category), method: :delete %>
    <% end %>
  <% end %>
</li>
