<% provide(:title, "All categories") %>

<h1>All <%= @cat_type.pluralize(0) %></h1>

<ul class="list_of_links">
  <%= render @categories %>
</ul>

<% if user_signed_in? %>

  <br><br>

  <%= link_to "Add #{@cat_type}", send("new_#{@cat_type}_path") %>

<% end %>

<%= will_paginate @categories %>
