<% provide(:title, "All #{@cat_type}") %>

<h1>All <%= @cat_type.pluralize(0) %></h1>

<%= render 'shared/list_of_links', objects: @categories, options: { info: [:name], thumbnails: true } %>

<% if user_signed_in? %>

  <br><br>

  <%= link_to "Add #{@cat_type}", send("new_#{@cat_type}_path") %>

<% end %>
