<% provide(:title, "all #{@cat_type}") %>

<h1>all <%= @cat_type %></h1>

<%= render 'shared/list_of_links', objects: @categories, options: { info: [:name], thumbnails: true } %>

<% if user_signed_in? %>

  <br><br>

  <%= link_to "add #{@cat_type}", send("new_#{@cat_type}_path") %>

<% end %>
