<% provide(:title, "All #{@cat_type}") %>

<h1><%= @category.name %> videos</h1>

<% if user_signed_in? %>

  <%= link_to 'Add videos', edit_category_url(@category) %>

  <br><br>

<% end %>

<%= render 'shared/videos' %>
