<% provide(:title, "all #{@cat_type}") %>

<div id="wrapper">

  <h1><%= @category.name %> videos</h1>

  <%= link_to 'random video', videos_random_category_path(@category) %>

  <% if user_signed_in? %>

    | <%= link_to 'add videos/edit category', edit_category_url(@category) %>

  <% end %>

  <br><br>

  <%= render 'shared/videos' %>

</div>
